body {
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
}

.main-heading {
    background-color:transparent;
    text-align: center;
}

.main-heading h1 {
    font-family: "Comic Sans MS";
    color:greenyellow;
    font-size:3vw;
}

.jumbotron {
    padding-bottom: 10px;
    margin-bottom: 0;
}

.main-content-area p {
    color:greenyellow;
    text-align: center;
    font-size:22px;
}


.container-fluid {
    position:absolute;
    text-align: center;
}
label {
    color:cyan;
    font-size:16px;
    position:relative;
}

.radio-label {
    display: inline-block;
     vertical-align: top;
     margin-right: 15px;
 }
 .radio-button {
    display: inline-block;
     vertical-align: top;
 }

#left-baby, #right-baby {
    max-height: 100%;
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.main-heading p{
    font-family: 'Permanent Marker', cursive;
    color:cyan;
    font-size:1.5vw;
    
}

.gif-holder img {
    max-height:160px;
    display:block;
    margin:auto;
}

.y-tho img {
    display: block;
    margin:auto;
    bottom:0;
}

#start-game, #start-game-again, #done-with-game {
    display:block;
    margin:auto;
}

#start-game {
    margin-top:165px;
}
